.clear{
    clear: both;
}

button{
    position: fixed;
    top: 580px;
    left: 1200px;
    z-index: 100;
    border: solid 2px black;
    width: 100px;
    height: 50px;
    border-radius: 5%;
    background-color: yellowgreen;
}



.nav-bar{
    /* position: -webkit-sticky; */
    position: fixed;
    top: 0;
    left: 8px;
    right: 8px;
    z-index: 1000;
}

.outer-nav-bar-1{
    background-color: #0406a9;
    width: 100%;
    height: auto;
}

.outer-nav-bar-1 span{
    display: block;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

.outer-nav-bar-1 img{
    width: 100%;
    height: 100%;
}

.outer-nav-bar-2{
    width: 90%;
    height: 30px;
    margin-left: 5%;
    margin-right: 5%;
    background-color: white;
}

.outer-nav-bar-2 div{
    width: auto;
    float: left;
}

.outer-nav-bar-2 span{
    display: block;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 10pt;
    font-family: Arial, Helvetica, sans-serif;
}

.outer-nav-bar-2 span:hover{
    color: orange;
    cursor: pointer;
}

.outer-nav-bar-3{
    width: 90%;
    height: auto;
    margin-left: 5%;
    margin-right: 5%;
    background-color: white;
}

.outer-nav-bar-3 .image{
    display: block;
    width: 15%;
    height: auto;
    float: left;
}

.outer-nav-bar-3 .input-box{
    display: block;
    width: 70%;
    float: left;
}

.outer-nav-bar-3 img{
    max-width: 100%;
    max-height: 100%;
}

.outer-nav-bar-3 input{
    width: 95%;
    height: 30px;
    margin: 5px 2.5% 5px 2.5%;
    font-size: 14pt;
}

.main-part{
    margin-top: 176px;
    position: relative;
}

.outer-banner{
    background-color: rgb(41, 25, 9);
}

.outer-banner:hover{
    background-color: rgb(249, 168, 51);
    transition: 0.8s;
}

.outer-banner:hover .hover-banner{
    opacity: 1;
    transition: 0,8s;
}

.inner-banner{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

.inner-banner .main-banner{
    position: relative;
}

.inner-banner .hover-banner{
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0;
}

.list-choice{
    width: 20%;
    float: left;
}

.list-choice div{
    background-color: white;
    line-height: calc(338.313px/12);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
}

.list-choice div:hover{
    color: orange;
    cursor: pointer;
}

.main-banner{
    width: 80%;
    float: left;
}

.main-banner span{
    display: block;
    width: 100%;
    height: auto;
}

.main-banner img{
    width: 100%;
    height: auto;
}

.popular-search{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

.popular-search *{
    box-sizing: border-box;
    font-size: 10pt;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.popular-search > p {
    text-align: left;
    font-size: 16pt;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.popular-search .first-popular{
    width: 20%;
    height: 300px;
    float: left;
    border: solid 1px black;
}

.popular-search .first-popular:hover, .popular-search .second-popular > div:hover{
    border: solid 2px red;
    transition: 0.8s;
}

.popular-search .first-popular:hover .price, .popular-search .second-popular > div:hover .price{
    opacity: 1;
    transition: 0.8s;
}

.popular-search .first-popular .price{
    font-size: 14pt;
    font-weight: bolder;
    opacity: 0;
}

.popular-search .first-popular span{
    display: block;
    width: 100%;
    height: 50%;
    margin-bottom: 60px;
}

.popular-search .first-popular img{
    height: 100%;
    width: auto;
}

.popular-search .second-popular{
    width: 80%;
    height: 150px;
    float: left;
}

.popular-search .second-popular .price{
    font-size: 10pt;
    font-weight: bolder;
    opacity: 0;
}

.popular-search .second-popular > div{
    width: calc(25% - 4px);
    height: 150px;
    padding: 2px;
    margin: 2px;
    float: left;
    border: solid 1px black;
}

.popular-search .second-popular .image{
    display: block;
    width: 40%;
    height: 100%;
    float: left;
}


.popular-search .second-popular .text{
    display: block;
    width: 60%;
    height: 100%;
    float: left;
}

.popular-search .second-popular img{
    max-width: 100%;
}

.list-product{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 30px;
}

.list-product *{
    box-sizing: border-box;
    font-size: 10pt;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.list-product > p{
    text-align: left;
    font-size: 16pt;
    font-weight: bold;
}

.inner-list-product > div{
    width: 12.5%;
    height: 150px;
    float: left;
    border: solid 1px black;
}

.inner-list-product > div:hover{
    border: solid 2px red;
    transition: 0.8s;
}

.inner-list-product > div:hover .img-hover{
    opacity: 1;
    transition: 0.8s;
}

.inner-list-product > div:hover .img-first{
    opacity: 0;
    transition: 0.8s;
}

.inner-list-product span{
    display: block;
    width: 100%;
    height: 70%;
}

.inner-list-product img{
    max-width: 100%;
    max-height: 100%;
}


.inner-list-product .outer-hover{
    position: relative;
}

.inner-list-product .img-hover{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}
