.header div, .header img, .header svg, .header i{
    align-items: center;
    justify-items: center;
    max-height: 50px;
    max-width: 100%;
}

.main-body div, .main-body img, .main-body svg{
    text-align: center;
    justify-content: center;
    max-height: 50px;
    max-width: 100%;
}
