.para_heading{
    border-style: double;
}

.para_heading > h1{
    padding: 5px;
    margin: 0;
    background-color: skyblue;
    justify-content: center;
    text-align: center;
}

.para_content{
    width: 32%;
    height: 300px;
    float: left;
    margin: 5px;
    border-style: solid;
    background-color: wheat;
}

.para_content > h2{
    font-size: 25px;
    text-align: center;
    background-color: yellow;
    margin: 5px;
    border-style: solid;
}

.para_content > p{
    margin: 5px;
    border-style: none;
}

.end_file{
    text-align: center;
    font-weight: bold;
    clear: both;
}